h1 {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200;
}

h4 {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200;
}

h3{
    color: #4B8A08;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #610B0B
}

.img{
    border-radius:10px;
}
.imgRedonda {
    width:1000px;
    height:500px;
    border-radius:10px;
}

.imgRedonda2 {
    width:455px;
    height:280px;
    border-radius:10px;
}

.icn {
    width:150px;
    height:160px;
    border-radius:10px;
}


.menu{
    display:block;
}
     
.menu li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    position: static;
    z-index:100;
}
 
.menu li a {
    font-weight:600;
    text-decoration:none;
    padding:10px;
    display:block;
    background-color: #4B8A08;
    color:#ffffff;
    border-radius: 5px;
 
   -webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}
 
.menu li a:hover, .menu li:hover > a{
    color:#ffffff;
    background:#B40404;
}


* {
    box-sizing: border-box;
  }
  .form2 {
    padding: 1em;
    background: #f9f9f9;
    margin-top: 2rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius:10px;
  }
  form {
    padding: 1em;
    background: #f9f9f9;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius:10px;
  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
  }
  form button:hover {
    background: #4B8A08;
  }
  
  label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  
  input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid gold;
  }
  
  @media (min-width: 400px) {
    form {
      overflow: hidden;
    }
  
    label {
      float: left;
      width: 200px;
    }
  
    input {
      float: left;
      width: calc(100% - 200px);
    }
  

    button.boton2{
        float: center;
        width: calc(100% - 200px);
    }

    button.boton3{
        float: right;
        width: calc(100% - 200px);
    }

    button.boton4{
        float: center;
        width: calc(40% - 300px);
    }

    table,
    th,
    td {
        border-collapse: collapse;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    th,
    td {
        padding: 5px;
    }

    
  }